<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Management System</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <style>
        *{
            font-family: 'Poppins', sans-serif;
        }
    </style>
</head>
<body>

    
    <h1>Employee List</h1>
    <table>
        <tr>
            <th>Employee ID</th>
            <th>Name</th>
            <th>Employee Role</th>
            <th>Department ID</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Age</th>
        </tr>
        {% for employee in employees %}
        <tr>
            <td>{{ employee.emp_id }}</td>
            <td>{{ employee.name }}</td>
            <td>{{ employee.emp_role }}</td>
            <td>{{ employee.dept_id }}</td>
            <td>{{ employee.email }}</td>
            <td>{{ employee.phone }}</td>
            <td>{{ employee.age }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
